<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d51174efa6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header class="main-header">
    <div class="main-header-top-bar">
        <img class="logo" src="/img/logo-mercado-liebre.svg">
        <div class="barra-busqueda"><input id="barra" type="search" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
        </div>
        <h2 class="copy-header"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
        </ul>
    </nav>
    <a href="#" class="hamburguer-button"> <i class="fas fa-bars"></i> </a>
</header>
<body>
    <form action="/" method="GET">
        <div class="login">
            <!-- <h1>INICIAR SESION </h1> -->
            <div class="controlForm">
                <input type="text" name="nombre" placeholder="Nombre de Usuario" style="width: 70%;height: 40px;" required minlength="3">
            </div>
            <div class="controlForm">
                <input type="password" name="password" placeholder="Elegi tu Contraseña" minlength="3"
                    style="width: 70%;height: 40px;" required>
            </div>
            <button type="submit" id="inicio">Enviar </button>
        </div>
    </form>
</body>

</html>